.git/
venv/
__pycache__/
*.pyc
backend/app/.env
backend/app/uploads/
*.png
*.jpg
*.jpeg
web-app/node_modules/
web-app/.next/
web-app/out/
ml/visualizations/
classification_data/
classification_data_clean/
classification_data_backup/
dataset/
.gitignore
